* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #eee;
}

.logo {
  font-family: "Playwrite PE", cursive;
  font-size: 28px;
}

.user-avatar {
  height: 32px;
  border-radius: 100%;
}

.container {
  max-width: 340px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 8px 16px;
}
